body {
    background: #000;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    margin: 60px auto;
    text-align: center;
}

.logo-box {
    margin-bottom: 25px;
}

.logo {
    font-size: 16px;
    background: white;
    color: black;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

h1 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
}

.form-box {
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border: 1px solid #555;
    background: #111;
    color: white;
    border-radius: 6px;
    font-size: 15px;
}

.btn-primary {
    width: 100%;
    background: #1a73e8;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
}

.btn-primary:hover {
    background: #185bc4;
}

.btn-secondary {
    width: 100%;
    background: white;
    color: black;
    padding: 11px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.separator {
    text-align: center;
    color: #ccc;
    margin: 14px 0;
}

.btn-google {
    width: 100%;
    background: #fff;
    color: black;
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.g {
    font-weight: bold;
    margin-right: 8px;
}
